.gb {
    padding: 100px 100px;
}
button {
    padding: 50px 50px;
    color: tomato;
}
.g {
    background:  url(img/pudged2-dance.gif) no-repeat center center fixed;;
    background-size: cover;
    text-align: center;
}
.d {
    background:  url(img/пудж.jpg);
    background-size: cover;
}
.v {
    background:  url(img/да.jpg);
    background-size: cover;
}
img {
    opacity: 0.85;
    height: 400px;
    width: 400px;
}
body {
    opacity: 0.9;
    color: tomato;
}
.y {
    background:  url(img/Шлёпа.jpg);
    background-size: cover;
}
.bodyv {
    background:  url(img/форвиталик.gif);
    background-size: cover;
}
.bodyd {
    background:  url(img/димагуль.gif) no-repeat center center fixed;;
    background-size: cover;
}
.bodyy {
    background:  url(img/котэк.gif) no-repeat center center fixed;;
    background-size: cover;
}
.mb {
    background:  url(img/бест.gif);
    background-size: cover;
}
table {
    margin: 0 auto;
    width: 70%;
}